bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.MamaSpellcheck/.idea/vcs.xml
.idea/.idea.MamaSpellcheck/.idea/indexLayout.xml
.idea/.idea.MamaSpellcheck/.idea/encodings.xml
.idea/.idea.MamaSpellcheck/.idea/discord.xml
